@model List<HoteLove.Models.HotelModel>

@{
    ViewData["Title"] = "Moje rezerwacje";
}

<div class="reservations-bg scrollable-items-list">
    <div class="container py-5">
        @if (Model.Any())
        {
            <h1 class="mb-5 text-white">Moje rezerwacje</h1>


            <div class="row g-4">
                @foreach (var hotel in Model)
                {
                    <div class="col-12 col-md-4 d-flex justify-content-center">
                        <div class="management-hotel-card h-100" style="width: 350px;">
                            <div class="position-relative">
                                <img src="~/lib/Photos/roberto-nickson-emqnSQwQQDo-unsplash.jpg" 
                                     class="img-fluid rounded-top" 
                                     alt="Hotel Image"
                                     style="height: 200px; object-fit: cover; width: 100%; height: 100%;">
                            </div>
                            <div class="p-3">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="mb-2">@hotel.Name</h5>
                                        <p class="text-muted mb-1 small">@hotel.Address</p>
                                        <p class="text-muted small">@hotel.Location</p>
                                    </div>
                                    <div class="col-5 text-end">
                                        <h5 class="text-primary">$@hotel.Price</h5>
                                    </div>
                                </div>
                                <div class="mt-3 d-flex justify-content-end">
                                    <form action="@Url.Action("Delete", "Reservation")" method="post">
                                        <input type="hidden" name="hotelId" value="@hotel.Id" />
                                        <button type="submit" class="btn btn-danger rounded-pill px-4 hover-transparent">
                                            <i class="fas fa-times me-1"></i> Anuluj
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="d-flex align-items-center justify-content-center min-vh-75">
                <div class="rounded-3" style="background-color: rgb(149, 194, 161);">
                    <h1 class="text-white">Nie masz żadnych zarezerwowanych hoteli.</h1>
                </div>
                
            </div>
        }
    </div>
</div>
