@using HoteLove.Services.Interfaces;
@{
    ViewData["Title"] = "Home Page";
}


@model IEnumerable<HoteLove.Models.ViewModel>

@{
    ViewData["Title"] = "Nasza Oferta";
}

@inject IReservationService reservationService;
@inject IUserContext userContext;
@inject IRatingService ratingService;

<div class="home-index-bg scrollable-items-list">
    <div class="container">
        @if (Model.Any())
        {
            <div class="card-columns-centered">
                <div class="row justify-content-center w-100">
                    @foreach (var item in Model)
                    {
                        var hotel = item.Hotel;
                        var comments = item.Comments;
                        <div class="col-8">
                            <div class="card mt-3">
                                <div class="card-body">
                                    <div class="card-details">
                                        <div class="card-image-placeholder" style="background-image: url('lib/Photos/roberto-nickson-emqnSQwQQDo-unsplash.jpg');background-size: cover">
                                            @*Wyświetlanie przycisków do oceny tylko zwykłym użytkownikom*@
                                            
                                            @if (User.IsInRole("Regular_User"))
                                            {
                                                <div class="rating-buttons-container">
                                                    <div class="rating-overlay"></div>
                                                    <div class="rating-buttons">
                                                        <div class="rating-count">@ratingService.CalculateAverageRating(hotel.Id)</div>

                                                        <form class="rating-form">
                                                            <input type="hidden" name="hotelId" value="@hotel.Id" />
                                                            <button class="rating-button" type="submit" value="1">1</button>
                                                            <button class="rating-button" type="submit" value="2">2</button>
                                                            <button class="rating-button" type="submit" value="3">3</button>
                                                            <button class="rating-button" type="submit" value="4">4</button>
                                                            <button class="rating-button" type="submit" value="5">5</button>
                                                        </form>
                                                    </div>
                                                </div>

                                            }
                                        </div> <!-- Duży prostokąt -->
                                        <div class="card-small-images d-none d-xxl-flex">
                                            <div class="card-small-image" style="background-image: url('lib/Photos/christian-lambert-ycyXpdhCnp8-unsplash.jpg');background-size: cover"></div> <!-- Mały prostokąt 1 -->
                                            <div class="card-small-image" style="background-image: url('lib/Photos/eddi-aguirre-ZAVHbpOn4Jk-unsplash.jpg');background-size: cover"></div> <!-- Mały prostokąt 2 -->
                                            <div class="card-small-image" style="background-image: url('lib/Photos/the-anam-_twiIcIsp2s-unsplash.jpg');background-size: cover"></div> <!-- Mały prostokąt 3 -->
                                        </div>
                                        <div class="description-container d-none d-xl-flex">
                                            @hotel.Description
                                        </div>
                                    </div>
                                    <h5 class="card-title">
                                        <span class="title">@hotel.Name</span>
                                        <span class="price">$@hotel.Price</span>
                                    </h5>
                                    <ul class="list-group list-group-horizontal">
                                        <li class="list-group-item">@hotel.Location, @hotel.Address</li>
                                        <li class="list-group-item">Numer telefonu: @hotel.PhoneNumber</li>
                                        <li class="list-group-item">Email: @hotel.Email</li>
                                    </ul>
                                    @*                    sprawdzenie czy użytkownik ma odpowiednią role to korzystania z rezerwacji oraz
                            czy nie zarezerwował już wcześniej tego hotelu*@
                                    @if (User.IsInRole("Regular_User") && !reservationService.IsHotelAlreadyReserved(userContext.GetUserId(), hotel.Id))
                                    {
                                        <form asp-controller="Reservation" asp-action="Create" method="post">
                                            <input type="hidden" name="hotelId" value="@hotel.Id" />
                                            <button type="submit" class="btn btn-primary btn-reserve">Zarezerwuj</button>
                                        </form>
                                    }
                                    <h5 style="color: #5E5C72;font-size: 18px; font-weight: 500">Komentarze:</h5>
                                    <div class="comment-section">
                                        <div class="comment-content">
                                            @foreach (var comment in comments.OrderByDescending(c => c.CreatedAt))
                                            {
                                                <div class="comment">
                                                    <small class="text-muted" style="font-size: 12px;">
                                                        @comment.CreatedAt.ToString("dd.MM.yyyy HH:mm")
                                                    </small>
                                                    <div class="comment-text">
                                                        @comment.Content
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        @if (User.IsInRole("Regular_User"))
                                        {
                                            <div class="comment-form">
                                                <form id="commentForm-@hotel.Id" class="d-flex gap-2">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="hotelId" value="@hotel.Id" />
                                                    <div class="flex-grow-1">
                                                        <textarea class="form-control" 
                                                                 rows="1" 
                                                                 placeholder="Napisz komentarz..." 
                                                                 name="content"
                                                                 required></textarea>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center text-center" style="width: 50px;">
                                                        Dodaj
                                                    </button>
                                                </form>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <h1>Nie dodano jeszcze żadnych ofert</h1>
        }
    </div>
</div>

